html {
    color: white;
    background-color: #3f3f3f;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.main_container {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed white;
  }