* {
  font-family: Georgia, serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Font Sizes */
h1 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 18.72px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}

@keyframes tilt {
  0% {
    rotate: 0deg;
  }
  15% {
    rotate:10deg;
  }
  30% {
    rotate:2deg;
  }
  45% {
    rotate:10deg;
  }
  55% {
    rotate:4deg;
  }
  65% {
    rotate:10deg;
  }
  75% {
    rotate:7deg;
  }
  85% {
    rotate:10deg;
  }
  90% {
    rotate:9deg;
  }
  100% {
    rotate:10deg;
  }
}
#skew {
  position: absolute;
  margin: 0px;
  transform-origin: bottom left;
  top: 30;
  margin-left: 5px;
  /* the animation could be done in one css property but this is easier to understand */
  animation-name: tilt;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-duration: 1s;
}

#profile-image {
  width: 250px;
}

#text-container {
  min-width: 260px;
  margin-bottom: 16px;
}

/* System theme detection */
@media (prefers-color-scheme: light) {
  #dark-mode-msg {
  display: none;
  }
}
@media (prefers-color-scheme: dark) {
  * {
  color: white;
  }
  html {
  background-color: #18191b;
  }
  #dark-mode-msg {
  display: inline;
  }
}